<div class="center">
  <button mat-icon-button routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img src="/assets/logo_p6.png" alt="logo"/>
  <h1>Se connecter</h1>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <label>E-mail ou nom d'utilisateur</label>
    <mat-form-field appearance="outline">
      <input matInput id="email" formControlName="email" />
    </mat-form-field>
    <label>Mot de passe</label>
    <mat-form-field appearance="outline" floatLabel="always">
      <input matInput id="password" formControlName="password" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signInForm.invalid"
    >
      Se connecter
    </button>
    <p *ngIf="onError" class="error">{{ errorMessage }}</p>
  </form>
</div>
