.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-icon-button {
  margin: 20px;
  transform: scale(1.2);
  align-self: flex-start;
}

img {
  display: none;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

label {
  align-self: flex-start;
}

mat-form-field {
  width: 100%;
}

.error {
  color: red;
  margin-top: 1em;
}

@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }

  img {
    display: block;
  }

  app-toolbar {
    display: none;
  }
}
