img {
  max-width: fit-content;
  width: 100%;
  margin-bottom: 3em;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {

  .center {
    justify-content: flex-start;
  }

  .buttons {
    flex-direction: column;
    width:fit-content;
    height: 120px;
  }
}
