<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" position="end">
    <mat-nav-list>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Articles</a>
      <a mat-list-item routerLink="/topics" routerLinkActive="active">Thèmes</a>
      <a mat-list-item routerLink="/account" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
      <a routerLink="/">
        <img src="/assets/logo_p6.png" alt="logo" />
      </a>
      <span class="spacer"></span>
      <a routerLink="/posts" routerLinkActive="active">Articles</a>
      <a routerLink="/topics" routerLinkActive="active">Thèmes</a>
      <a routerLink="/account" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
      </a>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- In order to place other components -->
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
