<mat-sidenav-container #test class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" position="end">
    <mat-nav-list class="inline-list">
      <a mat-list-item routerLink="/posts" routerLinkActive="active" (click)="drawer.close()">Articles</a>
      <a mat-list-item routerLink="/topics" routerLinkActive="active" (click)="drawer.close()">Thèmes</a>
      <span class="spacer"></span>
      <a mat-list-item routerLink="/account" routerLinkActive="active" (click)="drawer.close()">
        <mat-icon>account_circle</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="showToolbar()" >
      <a routerLink="/posts">
        <img src="/assets/logo_p6.png" alt="logo" />
      </a>
      <span class="spacer"></span>
      <div class="navLinks" *ngIf="showNavLinks()">
        <a routerLink="/posts" routerLinkActive="active">Articles</a>
        <a routerLink="/topics" routerLinkActive="active">Thèmes</a>
        <a routerLink="/account" routerLinkActive="active">
          <mat-icon>account_circle</mat-icon>
        </a>
        <button #button mat-icon-button (click)="drawer.toggle()" onclick="this.blur()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
