.sidenav-container {
  height: 100%;
  background-color: inherit;
}

.sidenav {
  width: 200px;
}

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}

a mat-icon {
  transform: scale(1.7);
  vertical-align: middle;
}

@import '@angular/material/theming';

.active {
  // opacity: 50%;
  color: mat-color(mat-palette($mat-purple, 800));
}

mat-toolbar {
  height: 4em;
  background-color: white;
  border-bottom: 1px solid gray;

  img {
    vertical-align: middle;
    height: 4em;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.navLinks {
  button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .navLinks {
    a {
      display: none;
    }
    button {
      display: inline;
    }
  }
}