<button mat-icon-button routerLink="/">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="test">
  <h1>Se connecter</h1>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput id="email" formControlName="email" />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput id="password" formControlName="password" />
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="signInForm.invalid">
      Se connecter
    </button>
    <p *ngIf="onError" class="error">{{ errorMessage }}</p>
  </form>
</div>
