<div class="center">
  <button mat-icon-button routerLink="/home">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img src="/assets/logo_p6.png" alt="logo" />
  <h1>S'inscrire</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <label>Nom d'utilisateur</label>
    <mat-form-field appearance="outline">
      <input matInput id="name" formControlName="name" />
      <mat-hint *ngIf="codeError === 1">Nom d'utilisateur déjà utilisé</mat-hint>
    </mat-form-field>
    <label>E-mail</label>
    <mat-form-field appearance="outline">
      <input matInput id="email" formControlName="email" />
      <mat-hint *ngIf="codeError === 2">Email déjà utilisé</mat-hint>
    </mat-form-field>
    <label>Mot de passe</label>
    <mat-form-field appearance="outline">
      <input matInput id="password" formControlName="password" />
      <mat-hint *ngIf="codeError === 3">Mot de passe non valide</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signUpForm.invalid"
    >
      S'inscrire
    </button>
  </form>
</div>
