.sidenav-container {
  height: 100%;
  background-color: inherit;
}

@import "@angular/material/theming";
.active {
  color: mat-color(mat-palette($mat-purple, 800)) !important;
}

.sidenav {
  width: 200px;

  .mat-nav-list {
    padding-top: 70px;
  
    .bottom {
      position: absolute;
      bottom: 0;

      mat-icon {
        transform: scale(2);
        margin: 0 11px;
      }
    }
  }
}

mat-toolbar {
  height: 4em;
  background-color: inherit;
  border-bottom: 1px solid gray;
  padding: 0;

  img {
    vertical-align: middle;
    height: 2.5em;
  }

  a {
    text-decoration: none;
    margin: 0 15px;
    color: black;

    mat-icon {
      transform: scale(1.7);
      margin: 0 9px;
      vertical-align: middle;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.navLinks {
  button {
    display: none;
    transform: scale(1.3);
    margin-right: 22px;
  }
}

@media screen and (max-width: 600px) {
  .navLinks {
    a {
      display: none;
    }
    button {
      display: inline;
    }
  }
}