<div class="container">
  <mat-card *ngFor="let topic of topics$ | async">
    <mat-card-title>{{ topic.title }}</mat-card-title>
    <mat-card-content>{{ topic.description }}</mat-card-content>
    <div class="spacer"></div>
    <button
      *ngIf="!subTopicIds.includes(topic.id)"
      mat-raised-button
      color="primary"
      (click)="subscribe(topic.id)"
    >
      S'abonner
    </button>
    <button
      *ngIf="subTopicIds.includes(topic.id)"
      mat-raised-button
      color="warn"
      (click)="unSubscribe(topic.id)"
    >
      Se désabonner
    </button>
  </mat-card>
</div>
